name: valkey
icon: valkey
type: datastore
title: Valkey
hostname: valkey-master
containers:
- name: valkey
  image: wodby/valkey
options:
- version: '9.0'
  tag: '9.0'
- version: '8.1'
  tag: '8.1'
- version: '8.0'
  tag: '8.0'
- version: '7.2'
  tag: '7.2'
endpoints:
- name: valkey
  ports:
  - name: valkey
    number: 6379
    type: tcp
labels:
- valkey

volumes:
- name: data
  title: Data
  optional: true
  helm: 
    values:
    - name: master.persistence.enabled
      value: true
    - name: master.persistence.size
      value: '{{volumes.data.size}}Gi'
    # mandatory to use existing claim since this volume will have import function
    # we will mount different claim after import and doing it through sts's volumeclaimtemplates is not supported
    - name: primary.persistence.existingClaim
      value: '{{volumes.data.claim}}'

tokens:
- name: password
  generate:
    regex: '[0-9a-z-]{32}'

helm:
  name: wodby
  source: oci://registry-1.docker.io/wodby/valkey
  chart: oci://registry-1.docker.io/wodby/valkey
  version: 0.1.0
  configurations:
  - name: opensmtpd
    labels: podLabels
    annotations: podAnnotations
    env: envVars
    resources: resources
    volumes: volumes
    mounts: volumeMounts
  values:
  - name: password
    value: '{{password}}'
